* {
    margin: 0;
    padding: 0; /* Added padding reset */
}

#nav {
    text-align: center; 
    background-color: rgb(180, 245, 223);
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 5px;
}

#menu-items {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

#mycart {
    margin-left: 1000px;
    margin-top: -90px;
}

#nav h1:hover {
    color: rgb(255, 38, 0);
    cursor: pointer;
}

.card-img-top {
    width: 200%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the entire area */
}

#menuContainer {
    text-align: center;
    display: flex;
    
    flex-wrap: wrap; /* Allows items to wrap to the next line if they exceed the container width */
    gap: 25px; /* Space between items */
    justify-content: center; /* Center items horizontally */
    box-sizing: border-box; /* Includes padding and border in the element’s total width and height */
}

.menu-item {
    flex: 2 2 calc(44.444% - 20px); /* Each item takes up roughly one-third of the container width, minus the gap */
    max-width: calc(44.444% - 20px); /* Prevents items from growing too large */
    box-sizing: border-box; /* Ensures padding and border are included in the item's width */
    text-align: center; /* Center align text inside each item */
    padding: 10px; /* Add padding for spacing inside each item */
}
